* {
  box-sizing: border-box;
  margin: 0;
  accent-color: #807182;
}

.App {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.canvas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #FFC9B5;
  overflow: auto;
}

.baseball-card {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  transform: translate(-160%, 50%) !important;
}